node_modules
.next
build
.vercel
.husky
.prettierignore
.stylelintignore
.eslintignore

yarn.lock
yarn-error.log
.DS_Store
vercelBuild.sh
sentry.properties
README.md
pnpm-lock.yaml
package-lock.json

